body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: black;
  color: white;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 50vmin;
}

.App-header {
 /*  background-color: black;
  padding: 20px;
  border: 5px solid #00ff02;
  border-radius: 10px; */
}

.App-separator {
  width: 80%;
  height: 3px;
  background-color: #00ff02;
  border: none;
  border-radius: 10px;
  margin: 20px 0;
}

.App-description {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.5rem;
  margin: 20px 0;
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
  filter: contrast(150%);
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.App-image {
  margin: 20px;
  text-align: center;
}

.App-image img {
  width: 80%;
  height: auto;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow:0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5) ;
}

.App-image h2 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.5rem;
  margin: 10px 0;
  color: white;
}

.App-image p {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
  color: white;
}

.App-footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}

.App-footer a {
  text-decoration: none;
}

.App-icon {
  height: 30px;  /* Ajusta el tamaño según sea necesario */
  width: 30px;   /* Ajusta el tamaño según sea necesario */
  transition: transform 0.3s;
  margin-top: 30px;
}

.App-icon:hover {
  transform: scale(1.1);
}
.App-copyright {
  font-size: 0.8rem;
  margin-top: 20px;
}